[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
edition = "2024"
rust-version = "1.91"
homepage = "https://franco-grobler.github.io/cowsay-rs/"
documentation = "https://franco-grobler.github.io/cowsay-rs/"
repository = "https://github.com/franco-grobler/cowsay-rs"
authors = ["Franco Grobler <franco@grobler.fyi>"]
license = "UNLICENSE"

[workspace.dependencies]
cowsay-parser = { path = "crates/cowsay-parser" }
cowsay-template = { path = "crates/cowsay-template" }
# cowsay-cli = { path = "crates/cowsay-cli" }

clap = { version = "4.5.51", features = ["derive"] }
textwrap = { version = "0.16.2", features = ["terminal_size"] }
