@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --color-primary: #34a853;
  --color-accent-secondary: #dea584;

  --color-text-primary: #222222;
  --color-text-primary-dark: #ffffff;
  --color-text-secondary: #555555;
  --color-text-secondary-dark: #888888;

  --color-background-light: #ffffff;
  --color-background-dark: #141e16;
}
