name: Security audit
on:
  push:
    branches: [main]
    paths:
      - "**/Cargo.toml"
      - "Cargo.lock"
  pull_request:
  workflow_dispatch:

jobs:
  cargo-audit:
    name: "cargo audit"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: rustsec/audit-check@69366f33c96575abad1ee0dba8212993eecbe998 # v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
