name: Website Deployment to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "website/**"

defaults:
  run:
    shell: bash
    working-directory: website

env:
  NUXT_APP_BASE_URL: /cowsay-rs/

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: "22.20"
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        with:
          bun-version-file: "website/.bun-version"
      - run: bun install
      - run: bunx nuxt build --preset github_pages
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./website/.output/public

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
