name: Website CI

on:
  push:
    branches: [main]
    paths:
      - "website/**"
  pull_request:
    paths:
      - "website/**"
  workflow_dispatch:

concurrency:
  group:
    # prettier-ignore
    ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

defaults:
  run:
    shell: bash
    working-directory: website

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - run: corepack enable

      - uses: actions/setup-node@v4
        with:
          node-version: "22.20"

      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        with:
          bun-version-file: "website/.bun-version"

      - name: Cache Bun dependencies
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache # The directory where Bun caches packages
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lockb') }} # Key based on OS and lockfile hash
          restore-keys: |
            ${{ runner.os }}-bun- # Fallback key

      - run: bun install

      - name: Eslint
        run: bun run lint

      - name: Prettier
        run: bun run format
